# --------------------
# Verilog waveforms
# --------------------
*.vcd
*.fst
*.vpd
*.wlf

# --------------------
# Simulators
# --------------------
a.out
simv
obj_dir/

# --------------------
# Logs / temp
# --------------------
*.log
*.tmp
*.swp

# --------------------
# Editor / OS
# --------------------
.vscode/
.DS_Store
